@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {

    background: #f2f2f2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #B8704A;
}

.navbar {
    display: flex;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar input#menu-toggler {
    display: none;
}

.navbar #hamburger-btn {
    cursor: pointer;
    display: none;
}

.navbar .all-links {
    display: flex;
    align-items: center;
}

.navbar .all-links li {
    position: relative;
    list-style: none;
}

.navbar .logo a {
    display: flex;
    align-items: center;
    margin-left: 0;
}

header a, footer a {
    margin-left: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}

header a:hover, footer a:hover {
    color: rgb(255, 255, 255);
}

.homepage {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image:
            linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 10%, rgba(175, 109, 60, 0.4) 90%),
            linear-gradient(to left, rgba(255, 255, 255, 0) 50%,  rgb(209, 205, 196) 90%),
            url('/assets/home-bg.jpg');
    background-size: cover;
    background-position: center;
    animation: clipPath 4s forwards;
    transition: all 1s ease-in;
}

.homepage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage .content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

.homepage .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.content a:hover {
    color: #fff;
    background: rgba(255,255,255,0.3);
}




section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
}

section h2 {
    font-size: 2rem;
}

section > p {
    text-align: center;
}

section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
}


.services .shop_btn a{
    color: rgb(255, 255, 255);
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #B8704A;
    border: 2px solid rgba(176, 109, 20, 0.4);
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
.services .shop_btn a:hover{
    color: #B8704A;
    background: rgb(255, 255, 255);
}




section .cards .card {
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
}

.portfolio .cards .card {
    padding: 0 0 20px;
}

.services .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
}

.portfolio .card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
}

.cards .card p {
    padding: 0 15px;
    margin-top: 5px;
}

.about .row {
    padding: 0 10px;
}

/* slide show for photo */

carousell{
    padding: 2rem;
 }

 .carousell .headingg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8704A;
    border-radius: 10px;
 }

 .carousell .headingg h2{
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 2px 0px #7c4f37;
    font-size: 40px;
    
 }

 .slider-containerr{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
 }

 @keyframes slidee {
    0%{
        transform: translate(0);
    }

    25%{
        transform: translate(-0);
    }

    30%{
        transform: translate(-100%);
    }

    50%{
        transform: translate(-100%);
    }

    55%{
        transform: translate(-200%);
    }

    75%{
        transform: translate(-200%);
    }

    80%{
        transform: translate(-300%);
    }

    95%{
        transform: translate(-300%);
    }

    100%{
        transform: translate(0);
    }
 }

 .sliderr{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
 }

.sliderr img{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    scroll-snap-align: start;
    object-fit: cover;
    animation: slidee 8s infinite;
}

.slider-navv{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-navv a{
    height: 50px;
    cursor: pointer;
    top: 300px;
    margin-top: -200px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 9px 30px;
    background-color: rgb(203, 101, 41);
    border: 2px solid  rgb(203, 101, 41);
    opacity: 0.9;
    transition: all 0.25s ease-in-out;
}

.slider-navv a:hover{
    opacity: 1;
    transform: scale(1.125);
    text-shadow: 0  0 10px white;
    border: 2px solid white;
    border-radius: 10px;
    background-color:  rgb(203, 101, 41);
}

.indcaroutext{
    width: 1000px;
    height: 40px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: #B8704A ;
    background-color: #000000c0;
    backdrop-filter: blur(12px);
    position:absolute;
    margin-top: 220px;
    z-index: 2;
}



/* Youtube Vid */

.vid{
    margin-bottom: 0px;
    margin-top: 70px;
    background-color: #b8714a16;
    padding: 50px;
}


.vid .plan{
    width: 600px;
    display: flex;
    margin-left: -35%;

}

.vid .plan h3{
    font-size: 50px;
    text-transform: uppercase;
    width: 100%;
}

.vid .ytvid{
    float: right;
    margin-right: -38%;
    margin-top: -12.5%;
}

.vid .ytvid iframe{
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 30px #0000003d;
}





footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #B8704A;
    padding: 20px 0;
}

footer div{
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #B8704A;
    padding: 20px 0;
}

footer div {
    margin-top: 20px;
    height: 40px;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


footer div .link a i{
    font-size: 30px;

}

footer span {
    color: #fff;
}

footer a {
    padding: 0;
}

@media screen and (max-width: 860px) {
    .navbar .all-links {
        position: fixed;
        left: -100%;
        width: 300px;
        display: block;
        height: 100vh;
        top: 75px;
        background: #333;
        transition: left 0.3s ease;
    }

    .navbar #menu-toggler:checked~.all-links {
        left: 0;
    }

    .navbar .all-links li {
        font-size: 18px;
    }

    .navbar #hamburger-btn {
        display: block;
    }

    section > p {
        text-align: center;
    }

    section .cards .card {
        width: calc(100% / 2 - 15px);
        margin-bottom: 30px;
    }

    .homepage .content h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .homepage .content .text {
        font-size: 17px;
    }

    .content a {
        font-size: 17px;
        padding: 9px 20px;
    }

    .contact .row {
        flex-direction: column;
    }

    .contact .row .col {
        width: 100%;
    }

    .contact .row .col:last-child {
        margin-top: 40px;
    }

    footer a {
        height: 0;
    }
}

@media screen and (max-width: 560px) {
    section .cards .card {
        width: 100%;
        margin-bottom: 30px;
    }
}